@font-face {
    font-family: 'Outfit', sans-serif;
    font-display: swap;
    font-weight: 400 700;
}

:root {
    --mobile-breakdown: 375px;
    --desktop-breakdown: 1440px;
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --paragraph-font-size: 15px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    width: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
    height: 100vh;
    display: grid;
    place-items: center;
}

p {
    font-size: var(--paragraph-font-size);
}

.card {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    width: 22rem;
    padding: 1rem;
    border-radius: 0.75rem;
    gap: 2rem;
}

.qr-code {
    border-radius: 0.75rem;
}

.text-container {
    text-align: center;
    padding: 0 1rem;
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--dark-blue);
}

.subtitle {
    margin: 1rem 0;
    color: var(--grayish-blue);
}
